
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
  body {
    margin: 0;
    background-color:#fff;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1ab7979c;
    color: #333;
    padding: 0px 30px 0px 30px;
    position: relative;
    z-index: 1;
    font-size: large;
  }
  
  .logo img {
    width: 100px; 
    border-radius: 10px;
  }
  
  .page-title {
    flex: 4;
    text-align: center;
    margin: 5px;
  }

  h3{
    text-align: center;
  }

  .titulo{
    text-align: center;
    width: 1400px;
    margin-left: 50px;
  }

  .PgInicialBtn {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 15px;
    width: 130px;
  }

  .filtrar{
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 5px;
    width: 100px;
    cursor: pointer;
  }

  .message-box {
    padding: 0px 20px 0px 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  
  .message-box textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button{
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* .paginicial-button{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  } */

  a { 
    color: inherit;
    text-decoration: none;
  } 

  .filtro{
    display: block;
    align-content: center;
    margin: 0px 20px 0px 20px;
  }

  form{
    margin: 15px 0px 0px 15px;
  }

  .fa{
    padding: 5px;
  }

  .fas{
    padding-right: 4px ;
  }

  .container-table {
    text-align: center;
    display: flex;
    margin: 15px;
  }

  table {
    margin: 0 auto;
    width: auto;
    border: 2px solid rgba(163, 211, 149, 0.572);
  }

  th {
    background-color: #333;
    color: white;
  }

  table:first-child{
    border-collapse: collapse;
  }

  tr, td{
    border: 2px solid black;
  }
  
  .endereco{
    width: 700px;
  }

  .bairro{
    width: 300px;
  }

  button:hover {
    background-color: #000000;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    top:auto
  } 
