body {
    font-family: serif Impact, 'Arial Narrow Bold', sans-serif;
    background-color: #1ab7979c;
    /*background-image: url(logo.jpg);*/
    /*background-repeat: repeat-x;*/
    /*background-position: top;*/
    }


/* Estilos para dispositivos menores */
@media screen and (max-width: 600px) {
    .body {
      font-size: 14px;
    }
}

/* Título */
.body,h2{
    margin: 0;
    text-align: center;
}

.fa-user-tie{
    margin-right: 10px;
}

/*img,h2{
    display: inline-block;
    max-height: 40px;
    ;
}*/

/* Subtítulo */
.body,h3{
    margin: 0;
    text-align: center;
    color: rgba(77, 77, 77, 0.658);
}

/* Mensagem para não administradores */
.alerta, p{
    color:floralwhite ;
    text-decoration: bold;
    text-decoration: none;
    margin: 0;
    text-align: center;
}

/* Botão voltar à página inicial */
.voltar-inicio button {
    background-color: #333;
    color: white;
    margin: 7px;
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

/* Caixa de login do administrador */
.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-style: groove;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background: #333;
    color:floralwhite;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color:#555;
}