<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Consulta</title>

  <link rel="stylesheet" href="../static/css/consulta.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
  <header>
    <div class="logo">
      <img src="../static/logo.png" alt="Logotipo" title="Logotipo Reporta Diadema">
    </div>
    <div class="page-title"><h1>Reporta Diadema</h1>
    </div>
    <button class="PgInicialBtn">
      <a href="PaginaInicial.html"><i class="fas fa-undo"></i>Página inicial</a>
    </button>
  </header> 
 <!-- Adicionar o formulário aqui -->
 <form method="GET" action="/consulta">
  <select name="bairro">
      <option value="">Selecione o bairro</option>
      <option value="Canhema">Canhema</option>
      <option value="Campanário">Campanário</option>
      <option value="Casa Grande">Casa Grande</option>
      <option value="Centro">Centro</option>
      <option value="Conceição">Conceição</option>
      <option value="Eldorado">Eldorado</option>
      <option value="Inamar">Inamar</option>
      <option value="Piraporinha">Piraporinha</option>
      <option value="Taboão">Taboão</option>
      <option value="Serraria">Serraria</option>
      <option value="Vila Nogueira">Vila Nogueira</option>
  </select>
  <select name="periodo">
      <option value="">Selecione o período</option>
      <option value="Madrugada">Madrugada</option>
      <option value="Manhã">Manhã</option>
      <option value="Tarde">Tarde</option>
      <option value="Noite">Noite</option>
  </select>
  <select name="Tipo de Problema">
    <option value="">Selecione o tipo de problema</option>
    <option value="Roubo">Roubo</option>
    <option value="Vias esburacadas">Vias esburacadas</option>
    <option value="Iluminação">Iluminação</option>
</select>
</select>
<select name="Data">
  <option value="">Selecione o mês e o ano</option>
  <option value="Outubro24">Outubro/2024</option>
  <option value="Novembro24">Novembro/2024</option>
  <option value="Dezembro24">Dezembro/2024</option>
  <option value="Janeiro25">Janeiro/2025</option>
</select>
  <input type="submit" value="Filtrar" class="filtrar">
</form>

  <div class="message-box">
    <div class="titulo">
      <h2>Casos registrados</h2> 
    </div> 
  </div>
  <div class="container-table">
      <table>
        <tr>
          <th class = "qtd">Denúncias</th>
          <th class="endereco">Endereço</th>
          <th class="bairro">Bairro</th>
          <th class="horario">Horário</th>
          <th class="tipo de problema">Problema</th>
          <th class="Data">Data</th>
        </tr>
        <tr>
          <td>{{dado[3]}}</td>
          <td>{{ dado[0] }}</td>
          <td>{{ dado[1] }}</td>
          <td>{{ dado[2] }}</td>
          <td>{{ dado[4] }}</td>
          <td>{{ dado[5] }}</td>
        </tr>
    </table>
  </div>
</body>
<footer>
  <p>Total de denúncias feitas no site: {{total_casos}}</p>
  <p>Última atualização em:{{data_atualizacao}}</p>

  <style>
    body {
        background-color: #ffffff; /* Fundo padrão */
        color: #333333; /* Texto padrão */
    }
  
    .alto-contraste {
        background-color: #000000; /* Fundo escuro */
        color: #ffffff; /* Texto claro */
      button, button[type] {
        background-color: #000000; /* Fundo escuro */
        color: #ffffff; /* Texto claro */
        font-weight: bold;
      }
      header{
        color: #ffffff ;/* Texto claro */ 
        }
      }
  </style>
  
  <button id="toggle-contrast">Alternar Alto Contraste</button>
  
  <script>
    document.getElementById('toggle-contrast').addEventListener('click', function() {
  document.body.classList.toggle('alto-contraste');
    });
  </script>

</footer>

</html>