<!DOCTYPE html>
<html lang="pt">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Área do administrador</title>
<link rel="stylesheet" href="../css/login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>                     

<body>

<div class="container">


    <div class="Título">
        <h2 class="icone-admin"><i class="fa-solid fa-user-group"></i> Área do Administrador</h2>
           <!--<img src="logo.jpg" alt="Reporta Diadema"> -->

    </div>

    <h3>Acesso restrito</h3>
    <form action="admin.html">
        <i class="fa-solid fa-user"></i>
        <label for="username">Administrador</label>
        <input type="text" id="Administrador" name="Administrador" required>
        <i class="fa-solid fa-key"></i>
        <label for="password">Senha:</label>
        <input type="password" id="Senha" name="Senha" required>
        <input type="submit" value="Acessar">
    </form>
</div>


<div class="alerta">
    <p>Caso não seja administrador retorne à página de usuário!</p>
    <div>
        <div class="voltar-inicio">
            <a href="PaginaInicial.html">
        <button>Voltar à tela principal<i class="voltar" aria-hidden="true"></i></button>
            </a>
    </div>
</div>

<body>

</html>