<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reporta Diadema</title>
  <link rel="stylesheet" href="../static/css/PaginaInicial.css">

  <script>
    function funcao1() {  /* Inserir condicional para a mensagem de alerta aparecer após clicar 
      no botão enviar apenas se todos os campos tiverem sido preenchidos*/
      alert("Agradecemos pela sua contribuição!");
    }
  </script>
</head>

<body>
  <div class="flashes" style="display: none;">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class=flashes>
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
          {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  </div>
  
  <header>
    <div class="logo">
      <img src="../static/logo.png"  alt="Logotipo" title="Logotipo Reporta Diadema">
    </div>
    <div class="page-title"><h1>Reporta Diadema</h1>
    </div>
    <button class="consulta">
      <a href="consulta.html">Consulta</a>
    </button>
    <button class="quemSomos">
      <a href="quemSomos.html">Quem somos</a>
    </button>

  </header>

  <div class="message-box">
    <h3>Utilize esse espaço para reportar!</h3>
  </div>

  <div class="form-container">
    <form method="post">
      <div>
        <select name="tipoProblema" required>
          <option value="">Tipo de problema</option>
          <option value="Roubo" {% if tipoProblema == "Roubo" %}selected{% endif %}>Roubo</option>
          <option value="Iluminação" {% if tipoProblema == "Iluminação" %}selected{% endif %}>Iluminação</option>
          <option value="Buraco" {% if tipoProblema == "Buraco" %}selected{% endif %}>Buraco</option>
        </select>
      </div>
      <div style="display: flex; align-items: center;">
        <input maxlength="50" type="text" name="rua" placeholder="Rua onde ocorreu o crime" value="{{rua}}" required>
      </div>
      <div class="form-row">
        <select name="bairro" required>
          <option value="">Bairro</option>
          <option value="Canhema" {% if bairro == "Canhema" %}selected{% endif %}>Canhema</option>
          <option value="Campanário" {% if bairro == "Campanário" %}selected{% endif %}>Campanário</option>
          <option value="Casa Grande" {% if bairro == "Casa Grande" %}selected{% endif %}>Casa Grande</option>
          <option value="Centro" {% if bairro == "Centro" %}selected{% endif %}>Centro</option>
          <option value="Conceição" {% if bairro == "Conceição" %}selected{% endif %}>Conceição</option>
          <option value="Eldorado" {% if bairro == "Eldorado" %}selected{% endif %}>Eldorado</option>
          <option value="Inamar" {% if bairro == "Inamar" %}selected{% endif %}>Inamar</option>
          <option value="Piraporinha" {% if bairro == "Piraporinha" %}selected{% endif %}>Piraporinha</option>
          <option value="Taboão" {% if bairro == "Taboão" %}selected{% endif %}>Taboão</option>
          <option value="Serraria" {% if bairro == "Serraria" %}selected{% endif %}>Serraria</option>
          <option value="Vila Nogueira" {% if bairro == "Vila Nogueira" %}selected{% endif %}>Vila Nogueira</option>
      </select>
      <select name="periodo" required>
        <option value="">Horário</option>
        <option value="Madrugada" {% if periodo == "Madrugada" %}selected{% endif %}>Madrugada</option>
        <option value="Manhã" {% if periodo == "Manhã" %}selected{% endif %}>Manhã</option>
        <option value="Tarde" {% if periodo == "Tarde" %}selected{% endif %}>Tarde</option>
        <option value="Noite" {% if periodo == "Noite" %}selected{% endif %}>Noite</option>
    </select>
      </div>
      <textarea name="obs"
        placeholder="Descreva o ocorrido (informe pontos de referência e o que mais achar necessário)">{{obs}}</textarea>
      <button type="submit">Enviar </button>
    </form>
  </div>
 
  <footer >Denuncie todo e qualquer tipo de crime as autoridades responsáveis!
    <style>
      body {
          background-color: #ffffff; /* Fundo padrão */
          color: #333333; /* Texto padrão */
      }
    
      .alto-contraste {
          background-color: #000000; /* Fundo escuro */
          color: #ffffff; /* Texto claro */
        button, button[type] {
          background-color: #000000; /* Fundo escuro */
          color: #ffffff; /* Texto claro */
          font-weight: bold;
        }
        header{
          color: #ffffff ;/* Texto claro */ 
          }
        }
    </style>
    
    <button id="toggle-contrast">Alternar Alto Contraste</button>
    
    <script>
      document.getElementById('toggle-contrast').addEventListener('click', function() {
    document.body.classList.toggle('alto-contraste');
      });
    </script>

  </footer>

</body>
</html>